{% extends 'mainapp/base.html' %}
{% load my_tags %}

{% block content %}
    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                         src="{{ object.photo|mymedia }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title">{{ object.nickname|title }}</p>
                        <p class="text-muted">{{ object.birth_date|default:'-' }}</p>
                        <p class="text-muted">Хозяин: {{ object.owner|default:'Без хозяина' }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-link" href={% url 'mainapp:dog_update' object.pk %}>Изменить</a>
                        <a class="btn btn-danger float-end" href={% url 'mainapp:dog_delete' object.pk %}>Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}