{% extends 'mainapp/base.html' %}

{% block content %}
    <form method="post" class="row" enctype="multipart/form-data">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    {% if object %}
                        Редактирование собаки
                    {% else %}
                        Добавление собаки
                    {% endif %}
                </div>
                <div class="card-body">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">
                      {% if object %}
                          Сохранить
                      {% else %}
                          Добавить
                      {% endif %}
                  </button>
                </div>
            </div>
        </div>

        {% if perms.dogs.change_food %}
        <div class="col-4">
            <div class="card">
                <div class="card-header">Корм собаки</div>
                <div class="card-body">
                    {{ food_formset.management_form }}
                    {% for form in food_formset.forms %}
                        {{ form.as_p }}
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        {% if perms.dogs.change_parent %}
        <div class="col-4">
            <div class="card">
                <div class="card-header">Родитель</div>
                <div class="card-body">
                    {{ parent_formset.management_form }}
                    {% for form in parent_formset.forms %}
                        {{ form.as_p }}
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

    </form>
{% endblock %}